<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <h4 class="navbar-brand" href="#">Adiós {{username}}  <span id="user"></span></h4>
  </div>
</nav>
<script src="/js/logout.js"></script>