<form action="products" method="post">
  <div class="mb-3">
    <label class="form-label" for="productname">Nombre</label>
    <input class="form-control" type="text" id="name" name="productname" required />
  </div>
  <div class="mb-3">
    <label class="form-label" for="productprice">Precio</label>
    <input class="form-control" type="number" id="price" name="productprice" required/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="productthumbnail">Imagen</label>
    <input class="form-control" type="text" id="thumbnail" name="productthumbnail" required/>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" type="submit">Confirmar</button>
    <button class="btn btn-danger" type="reset">Borrar</button>
  </div>
</form>

